@media (max-width: 768px) {
  // prevent iOS zoom on focus
  input[type=text], input[type=email], textarea {
    font-size: 16px !important;
  }
}

form {
  input[type=text], input[type=email], textarea, select {
    background: transparent;
    color: inherit !important;
    border: none;
    font-size: inherit;
    line-height: 1 !important;
    font-weight: inherit !important;
    border-radius: 0 !important;
    margin: 0px !important;
    box-shadow: none;

    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-clear {
      display: none;
    }

  }
  @include placeholder {
    color: inherit !important;
  }

  label {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;

    a {
      position: relative;
      z-index: 1;
    }
  }

  button {
    background: transparent;
    color: inherit;
    border: none;
    font-size: inherit;
    line-height: 1;
    font-weight: inherit;
    border-radius: 0;
    padding: 0;
  }

  button:focus,
  input:focus,
  select:focus,
  textarea:focus,
  .button:focus {
    outline: 0;
    box-shadow: none;
  }
}
