//
//
// POSITIONING
//
//
.center{
  @include center();
}
.center-y{
  @include center-y();
}
.center-x{
  @include center-x();
}

//
//
// TEXT
//
//
.text-center {
  text-align: center;
}
.text-right{
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

//
//
// MISC
//
//
[v-cloak] {
  display: none;
}

.bg-cover {
  @include bg-cover();
}

.bg-contain {
  @include bg-contain();
}

.bg-sprite-v {
  background: center top / 100% 200% no-repeat;
  transition: background-position 0s !important;
  &:hover {
    background-position: center bottom;
  }
}

.bg-sprite-h {
  background: left center / 200% 100% no-repeat;
  transition: background-position 0s !important;
  &:hover {
    background-position: right center;
  }
}

a{
  color:inherit !important;
  color:inherit !important;
  text-decoration: none !important;
  &:hover{
    color:inherit;
    text-decoration: none !important;
  }
}

img.preload {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -999999;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.clearfix{
  clear: both;
}
