@mixin bg-cover(){
  background: center center / cover no-repeat;
}
@mixin bg-contain(){
  background: center center / contain no-repeat;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@mixin center-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin center-y() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin bg-gradient-left-right($color1,$color2){
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $color1 , $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $color1 , $color2); /* Standard syntax */
}

@mixin bg-gradient-top-bottom($color1,$color2){
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( $color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($color1, $color2); /* Standard syntax */
}

@mixin blur($px){
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

@mixin aspect($w,$h){
  width: 100%;
  height: 0;
  padding-bottom: calc(100% * #{$h} / #{$w});
  position: relative;

  > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
